.Form{
    width:50%;
    background-color: #333;
    color: white;
    padding: .5rem;
    border-radius: .6rem;
    margin-bottom: .5rem;
}

.form-field{
    margin: 1rem 0;
    display: flex;
}
.form-field label{
    flex-basis:20%;
}
.form-field input{
    flex-basis:60%;
    border:none ;
    border-radius: .6rem;
    padding: .2rem;
}
.form-field textarea{
    flex-basis: 80%;
    resize: none;
    border: none;
    border-radius: .6rem;
    padding: .2rem;
}
.form button{
    border: none;
    border-radius:.6rem;
    cursor:pointer;
    display:block;
    margin:0 auto;
    width:80%;
    padding-bottom: 2px;
}
.form button:hover{
    background-color: orange;
    color: white;
}
